<app-header/>

<main>
  <ul id="users">
    <!-- @for (user of users; track user.id) -->
    <!-- { -->
      <li *ngFor="let user of users">
        <app-user [user]="user" [selected]="user.id === selectedUserId" (select)="onSelectUser($event)"></app-user>
      </li>
    <!-- } -->
  </ul>
  <!-- @if (selectedUser)
  { -->
    <app-tasks *ngIf="selectedUser" [name]="selectedUser.name" [userId]="selectedUser.id"></app-tasks>
  <!-- }
  @else { -->
  <ng-template #fallback>
    <p>fallback</p>
  </ng-template>
  <!-- } -->
</main>